---
---

@import "{{ site.theme }}";

body {
  #main_content {
    padding-bottom: 50px;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-justify {
    text-align: justify;
  }
  .title-1 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Imperial Script', cursive !important;
  }
  .big-start {
    margin-right: 5px;
    font-size: 50px;
    line-height: 20px;
    font-family: 'Imperial Script', cursive !important;
  }
  .big-text {
    font-size: 20px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer {
    font-size: 26px;
  }
  .video-container {
    position: relative;
    margin-top: 20px;
    video {
      width: 100%;
      border-radius: 10px;
    }
    .luna {
      position: absolute;
      top: -10px;
      right: -25px;
      width: 120px;
      height: 120px;
      border-radius: 40%;
      z-index:120;
      background:linear-gradient(to bottom right, rgba(63, 81, 181, 1) 0%,
        rgba(171, 71, 188, 1) 70%);
      box-shadow: 1px 1px 30px rgba(81, 45, 168, 1);
      .moon {
        position: absolute;
        top: -10%;
        left: 65%;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        background: rgba(255, 241, 118, 1);
        box-shadow: 1px 1px 30px rgba(224, 224, 224, 1);
      }
      .spot1 {
        position: absolute;
        top: 0%;
        left: 84%;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #777;
      }
      .spot2 {
        position: absolute;
        top: 21%;
        left: 76%;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #777;
      }
      li {
        position: absolute;
        list-style: none;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background-color: #fff;
        transform: rotate(45deg);
        background-image: none !important;
        padding: 0px !important;
      }
      li:nth-child(1) {
        top: 30%;
        left: 65%;
      }
      li:nth-child(2) {
        top: 35%;
        left: 53%;
      }
      li:nth-child(3) {
        opacity: 0;
        top: 20%;
        left: 75%;
        width: 2px;
        height: 2px;
        animation: meteor 1.5s infinite linear;
        animation-delay: 0.6s;
      }
      li:nth-child(4) {
        top: 5%;
        left: 50%;
      }
      li:nth-child(5) {
        opacity: 0;
        top: 20%;
        left: 55%;
        width: 1px;
        height: 15px;
        animation: meteor 1.5s infinite linear;
      }
      @keyframes inex {
        50% {
          opacity: 0.4;
        }
        60% {
          opacity: 1;
        }
      }
      @keyframes move {
        50% {
          transform: translateX(-10px);
        }
      }
      @keyframes fall {
        10% {
          opacity: 0.8;
        }
        50% {
          opacity: 1;
          transform: translate(-10px, 30px);
        }
        100% {
          transform: translate(-25px, 70px);
        }
      }
      @keyframes flash {
        48% {
          background-color: rgba(96, 125, 139, 1);
        }
        50% {
          background-color: #fff;
        }
        55% {
          background-color: rgba(96, 125, 139, 1);
        }
        57% {
          background-color: #fff;
        }
      }
      @keyframes meteor {
        10% {
          opacity: 1;
        }
        80% {
          left: 10%;
          top: 75%;
          opacity: 0;
        }
      }
    }
  }
}